/* Elements */

a, li{text-decoration: none!important;}
ul{padding-inline-start: 0px;}
/* Images */
li.footer-lists{
  opacity:0.6;
  transition: all 0.5s;
  width:20%;
}
img:hover{transition: all 0.5s;}
li.footer-lists:hover{opacity:1;}
/* Typography */

body{font-family: 'Open Sans' , sans-serif;}

h3, p{
  text-align: center;
}

h1,h2,h3,h4,h5{
  font-family: 'Exo 2', sans-serif;
}

.nav-heading{
  font-family: 'Exo 2', sans-serif;
  font-weight:bold;
  font-size: 1.8em;
  color:#FDD114;
  text-align: left;
}
 .navbar-right li{
  font-weight:700;
}

.title-margin{
  margin-top:75px;
}

.container-quote h3{color:#FDD114;}
.container-quote p{color:#fff; background-color: rgba(0,0,0,0.1);}

/* buttons */
.btn{border:3px solid}

.btn-gallery{border:3px solid white; background-color: rgb(255, 255, 255, 0);}

a, a:hover, a:focus {transition: all 0.5s;}
button:hover{transition: all 0.5s;}


/* navbar */

.navbar-brand{
  width:100%;
  margin:0;
  float:none;
}

.navbar-brand > img{
  display: initial;
}
.navbar-header{
  width:100%;
  text-align:center;
}

.nav-sitemap{
  margin:auto;
  width:50%;
  text-align:center;
  padding-top:22px;
}

.mobile-align img{
  opacity:0.6;
}
.mobile-align img:hover{
  opacity:1;
  transition: all 0.3s;
}

/* carousel */
.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 2px #FDD114;
  border-bottom: solid 2px #FDD114;
}

.carousel-item:before {

  display: block;
  padding-bottom: 20.25%;
}

.item{
  text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}

  .carousel-caption{
      text-shadow: 2px 1px 2px #000000b8;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 100%;
  }

  .carousel-caption .btn{
    text-shadow: 2px 1px 2px #000000b8;
  }

/* container */
.container{
  position: relative;
  height:450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.container-quote{
  min-height:450px;
  width:100%;
  padding:15px;
  margin: 0;
  background-image: url("../images/quote_container.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 1px 2px #000000b8;


}
.container-quote img{

}


/* media Queries */

  @media (min-width: 318px) and (max-width: 425px) {
    .carousel-caption h1 {
      font-size: 28px;
    }

    .pull-left{
      float:none;
    }
  }

  @media (min-width: 318px) and (max-width: 767px) {
    .nav, .nav-heading{text-align: center;}
    .nav-sitemap{width:100%; padding:0px;}
    .mobile-align{
      display: inline-block!important;
    }
  }

  @media (min-width: 318px) and (max-width: 992px) {
    footer{
      min-height:334px;
    }
  }





.carousel-indicators .active{
background-color: #FDD114;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
color:#FF4500;
}

/* sections */

section{
  width:100%;

}

#portfolio{
  background-color:#FDD114;
  color:white;
  text-align: center;
}

/* footer */

footer{width:100%; background-color:#777;height:150px; color:white; border-top: 2px solid #FDD114;}

.footer-brand{margin:0 auto; text-align:center;padding:22px;}

.footer-lists{float:left;}

.footer-terms{list-style-type:none; padding-inline-start:0; margin-top: 20px;}

ul{list-style-type: none;}
